body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: white;
  margin: 0;
  font-size: 4em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

div {
  margin: 40px 0;
}

img {}

.top-container {
  background-color: #209CEE;
  padding-top: 80px;
  padding-bottom: 80px;
}

.middle-container {}

.bottom-container {}

  .citation {
    display: none;
  }
