body {
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 0;
  font-size: 3em;
}

h2 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Courier Prime', monospace;
}

div {
  margin: 20px;
  padding: 20px;
}

img {
  /*margin: auto;
  text-align: center;*/
}

.top-container {
  background-color: #209CEE;
  padding-top: 120px;
  padding-bottom: 200px;
  margin-bottom: 90px;
}

.middle-container {
  margin-top: 150px;
}

.bottom-container {}

#profile-pic {
  width: auto;
  height: 320px;
  position: absolute;
  top: 293px;
  left: 599.6px;
}
