/* @media all and (min-width: 480px) { */
  body {
    /* margin: 0;
    padding: 0; */
  }

  h1, h2, h3 {
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-size: 3.4rem;
  }

  h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
    line-height: 1.8;
  }

  p {
    font-family: "Quicksand", sans-serif;
    line-height: 1.6;
    font-size: 1.1rem;
  }

  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .colored-section {
    background-color: #F5F5F5;
    color: #505050;
  }

  .uncolored-section {
    background-color: white;
    color: #505050;
  }

  .title-section {
    background: linear-gradient(
      rgba(0, 0, 0, 0.50),
      rgba(0, 0, 0, 0.50)
    ), url("../images/pexels-fauxels-3183165.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    color: white;
  }

  .intro-section {
    text-align: justify;
    text-align-last: center;
  }

  .programming-text {
    font-family: "Courier Prime", monospace;
    font-size: 1.7rem;
  }

  .programming-badge {
    font-family: "Courier Prime", monospace;
    font-weight: lighter;
    font-size: 1.1rem;
  }

  .table-container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .project-desc-container {
    padding-left: 8%;
    padding-right: 8%;
  }

  .project-desc-section {
    text-align: justify;
  }

  .project-pic {
    width: 22rem;
    height: auto;
  }

  .project-pic-portrait {
    width: 10rem;
    height: auto;
  }

  .profile-pic {
    width: 10rem;
    height: auto;
  }

  hr {
    width: 50%;
  }

  .footer-section {
    background-color: #3C474B;
    color: white;
  }


/* } */

/* span {
  font-size: 24px;
}

hr {
  border: dotted #D4D4D4 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
  background-color: white;
}

img {}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

div {
  margin: 40px 0;
} */

/* .top-container {
  background-color: #209CEE;
  padding-top: 80px;
  padding-bottom: 80px;
}

.middle-container {
  margin: 100px 0;
}

.profile {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-container {
  background-color: #209CEE;
  margin: 0;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: justify;
}

.web-pic {
  width: 20%;
  float: left;
  margin: 0 25px 0 0;
}

.mobile-pic {
  width: 20%;
  float: right;
  margin: 0 0 0 25px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link {
  color: #d7eaea;
}

.footer-copyright {
  color: #d7eaea;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #40514E !important;
  font-size: 22px;
  padding: 7px 14px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 2px solid #D4D4D4;
  background: #FFFFFF;
  text-decoration: none;
}

.btn:hover {
  color: #40514E !important;
  background: #FFFFFF;
  border-color: #209CEE;
} */
